#toolbar {
    float: left;
    width: 300px;
    border: 1px solid #CCC;
    background: #F6F6F6 url(http://estaticos.elmundo.es/social/img/login_separador.png) repeat-x 0 26px;
    margin-bottom: 15px;
    padding: 0 0 6px 0;
    position: relative;
    left: 7px;
	z-index: 990;
}
#contenido_secundario #toolbar {left:0px;}
#toolbar.logged_out {
    background-image: none;
    padding: 0;
}
#toolbar ul {
    float: left;
    z-index: 101;
    width: 300px;
}
#toolbar ul li {
    display: block;
    float: left;
    font-size: 11px;
    margin-right: 12px;
    padding: 3px 0 0;
    position: relative;
    z-index: 100;
}
#toolbar ul li.account-toolbar {
    background: url(http://estaticos.elmundo.es/elmundo/iconos/v4.x/v4.03/registro/participa-elmundo.png) no-repeat left;
    padding: 5px 0 0 97px;
    height: 23px;;
    margin: 0;
}
#toolbar ul li.account-toolbar a {
    font-size: 12px;
    color: #333;
    padding: 0 22px 0 0;
}
#toolbar ul li.account-toolbar a:hover {
    color: #904;
}
#toolbar ul li.account-toolbar a#login_registro {
    background: url(http://estaticos.elmundo.es/elmundo/iconos/v4.x/v4.03/registro/registro.png) no-repeat right center;
    margin: 5px 2px 0;
    border-left: 1px solid #CCC;
    padding-left: 8px;
}
#toolbar ul li.account-toolbar a#login_abrir {
    background: url(http://estaticos.elmundo.es/elmundo/iconos/v4.x/v4.03/registro/login.png) no-repeat right center;
    margin: 5px 7px 0 2px;
}
#toolbar ul li.logged-toolbar {
    float: left;
    margin-right: 0;
    background: #DAE0E1;
    padding: 3px;
    height: 100%;
    display: table;
}
#toolbar ul li.logged-toolbar .avatar {
    float: left;
    margin: 0 4px 0 0;
}
#toolbar ul li.logged-toolbar a.username {
    font-weight: bold;
    max-width: 134px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: 10px;
    overflow: hidden;
    margin-right: 2px;
}
*:first-child+html #toolbar ul li.logged-toolbar a.username {
    line-height: 18px;
    width: 134px;
    height: 20px;
}
* html #toolbar ul li.logged-toolbar a.username {
    line-height: 18px;
    width: 130px;
    height: 20px;
}
#toolbar ul li.followers-number {
    padding: 4px 4px 0 4px;
    background: #EEE;
    height: 22px;
}
#toolbar ul li.notifications-toolbar {
    background: url(http://estaticos.elmundo.es/elmundo/iconos/v4.x/v4.03/registro/notificaciones.png) no-repeat 0 4px;
    padding-left: 20px;
    margin: 5px 12px 0 5px;
    clear: both;
}

*:first-child+html #toolbar ul li.notifications-toolbar {
    width: 150px;
    margin-right: 6px;
}
* html #toolbar ul li.notifications-toolbar {
    width: 150px;
    margin-right: 6px;
}

#toolbar div.popup {display:none;}


#toolbar ul li.messages-toolbar {
    background: url(http://estaticos.elmundo.es/elmundo/iconos/v4.x/v4.03/registro/mensajes.png) no-repeat 0 4px;
    padding-left: 21px;  
    margin: 5px 12px 0 0;
}
#toolbar ul li.toolbar-logout {
    position: absolute;
    top: 1px;
    right: 0;
    margin-right: 6px;
}
* html #toolbar ul li.toolbar-logout {
    position: static;
}
#toolbar ul li.toolbar-logout a {
    background: url(http://estaticos.elmundo.es/social/img/icon_close.png) no-repeat 100% 2px;
    color: #666;
    display: block;
    height: 13px;
    padding-right: 14px;
}
* html #toolbar ul li.toolbar-logout a {
    position: absolute;
    top: 4px;
    right: 2px;
    background: url(http://estaticos.elmundo.es/social/img/icon_close.png) no-repeat 100% 3px;
}
#toolbar ul li.toolbar-logout a:hover {
    background: url(http://estaticos.elmundo.es/social/img/icon_close.png) no-repeat right -11px;
    color: #666;
}
* html #toolbar ul li.toolbar-logout a:hover {
    background: url(http://estaticos.elmundo.es/social/img/icon_close.png) no-repeat right -10px;
}
#toolbar ul li.edit-parent-data, #toolbar ul li.edit-profile {
    display: none;
}
#toolbar ul li.staff_area {
    padding: 8px 0 0 8px;
    z-index: 1;
}
#toolbar ul li.staff_area small {
    font-size: 11px;
    margin-right: 5px;
}
#toolbar ul li.staff_area br {
    display: none;
}


/* Toolbar popups */
#toolbar div.popup {
    position: absolute;
    padding: 15px;
    font-size: 11px;
    top: 40px;
    background: #DAE0E1;
    border: 1px solid #ADADAD;
    width: 250px;
    z-index: 101;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* modificado para solucionar problemas de jerarquía con la hoja de op-blogs */
#toolbar div.popup h4, #opinion #contenido_principal .col_02 .modulo #toolbar div.popup h4 {
    font-size: 14px;
    letter-spacing: normal;
	background:none;
	width:auto;
	color:#3F5974;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0;
	padding:0 0 12px 0;
}
 
#toolbar div.popup p {
    font-size: 11px;
    line-height: 14px;
    color: #333;
    margin-bottom: 10px;
}
#toolbar div.popup p a {
    border: none;
}
#toolbar div.popup a {
    font-weight: bold;
}
#toolbar div.popup a.popup-close {
    position: absolute;
    right: 0;
    display: block;
    background: url(http://estaticos.elmundo.es/elmundo/iconos/v3.0/comentarios/ventana_usuario_cerrar.png) no-repeat;
    width: 20px;
    height: 20px;
    margin: -25px -12px 0 0;
    outline: none;
    padding: 0;
}
#toolbar div.popup a.popup-close span {
    position: absolute;
    top: -10000px;
}
#toolbar div.popup span.popup-arrow {
    position: absolute;
    left: 76px;
    top: -12px;
    background: url(http://estaticos.elmundo.es/social/img/toolbar-popup-arrow2.png) no-repeat;
    width: 29px;
    height: 12px;
}
* html #toolbar div.popup span.popup-arrow {
    bottom: -15px;
}

/* Toolbar login popup */
#toolbar #poplogin {
    left: 10px;
    width: 235px;
}
#toolbar #poplogin span.popup-arrow {
    left: 161px;
}
#poplogin label {
    width: 100px;
    text-align: right;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}
#poplogin p {
    float: left;
}
#poplogin p input {
    background: #FFF;
    border: 1px solid #A6A6A6;
    color: #333;
    display: inline;
    font-size: 11px;
    height: 15px;
    padding: 1px 2px 0;
    width: 120px;
}
#poplogin p input:focus {
    background: #EEE;
}
#poplogin p span.help_text {
    font-size: 10px;
    float: right;
    margin: 3px 0 8px;
}
#poplogin p .stay {
    margin-top: 3px;
}
#poplogin p input.stay {
    width: 20px;
    float: left;
    border: none;
    background: transparent;
}
#poplogin label.stay {
    float: left;
    text-align: left;
    font-size: 9px;
}
#poplogin input.submit {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #3C81A2;
    border: 1px solid #3C81A2;
    color: #FFFFFF;
    float: right;
    font-size: 11px;
    font-weight: normal;
    padding: 1px 0;
    text-align: center;
    width: 55px;
    margin: 3px 4px 0 0;
}
#poplogin input.submit:hover {
    color: #555;
    background: #E5EAEB;
    border: 1px solid #A9C6D3;
    cursor: pointer;
}

/* Toolbar notifications popup */
#popnotifications {
    left: -85px;
    width: 280px !important;
}
#popnotifications span.popup-arrow {
    left: 90px;
}
#popnotifications h4, #popprivatemessages h4 {
    margin-bottom: 5px;
}
#popnotifications ul.notification-list, #main_content ul.notification-list {
    margin-bottom: 8px;
}
#toolbar #popnotifications ul.notification-list {
    width: 280px;
}
#popnotifications ul.notification-list li, #main_content ul.notification-list li {
    color: #333;
    width: 280px;
    line-height: 14px;
    padding: 5px 0;
    height: auto;
    background: none;
    border-bottom: 1px dotted #CCC;
}
#toolbar #popnotifications ul.notification-list li:hover {
    background: #e7edee;
}
#popnotifications ul.notification-list li strong {
    color: #073D5C;
}
#popnotifications ul.notification-list li.read {
    font-style: italic;
}
#popnotifications ul.notification-list li .avatar {
    float: left;
    margin-left: 5px;
    border: 2px solid #DAE0E1;
}
#main_content ul.notification-list li .avatar {
    border: 2px solid #FFF;
}
#popnotifications ul.notification-list li .avatar:hover {
    border: 2px solid #CCC;
}
#main_content ul.notification-list li .avatar a {
    float: left;
    line-height: 0;
}
#toolbar #popnotifications ul.notification-list li p {
    float: left;
    width: 221px;
    margin-bottom: 0;
}
#main_content ul.notification-list li p {
    width: 480px;
}
#toolbar #popnotifications ul.notification-list li p a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    display: block;
    padding: 4px 6px 4px 22px;
    outline: none;
    min-height: 42px;
}

#toolbar #popnotifications ul.notification-list li.unseen {
    background: #C6CCCC;
}
#toolbar #popnotifications ul.notification-list li.unseen:hover {
    background: #BFC4C5;
}
#toolbar #popnotifications a.view_all {
    text-align: left;
    margin-bottom: none;
}
#main_content a.view_all {
    display: none;
}
li.blog_comment_tb_af p a, li.news_comment_tb_af p a, li.blog_comment_tb_mm p a, li.news_comment_tb_mm p a, li.blog_comment_tb_mr p a, li.news_comment_tb_mr p a {
    background: url(http://estaticos.elmundo.es/social/img/icon-comment.png) no-repeat 2px 4px;
}
li.pos p a, li.pos p a {
    background: url(http://estaticos.elmundo.es/social/img/icon-notif-articlegood_s.png) no-repeat 3px 4px;
}
li.neg p a, li.neg p a {
    background: url(http://estaticos.elmundo.es/social/img/icon-notif-articlebad_s.png) no-repeat 3px 4px;
}
li.blog_publish_tb_af p a {
    background: url(http://estaticos.elmundo.es/social/img/icon-notif-blog.png) no-repeat 3px 4px;
}
li.news_publish_tb_af p a {
    background: url(http://estaticos.elmundo.es/social/img/icon-notif-article.png) no-repeat 3px 4px;
}
li.relationships_follow_tb_a p a, li.relationships_follow_tb_f p a {
    background: url(http://estaticos.elmundo.es/social/img/icon-activity-follow_s.png) no-repeat 3px 4px;
}
li.relationships_unfollow_tb_a p a {
    background: url(http://estaticos.elmundo.es/social/img/icon-activity-unfollow_s.png) no-repeat 3px 4px;
}
li.relationships_fan_tb_a p a, li.relationships_fan_tb_af p a {
    background: url(http://estaticos.elmundo.es/social/img/icon-notif-fan_s.png) no-repeat 3px 4px;
}
li.relationships_unfan_tb_a p a, li.relationships_unfan_tb_af p a {
    background: url(http://estaticos.elmundo.es/social/img/icon-notif-unfan_s.png) no-repeat 3px 4px;
}
#popnotifications ul.notification-list li span.date, #popprivatemessages ul li span.date {
    color: #888;
    font-size: 10px;
    margin: 3px 0 0 0;
    float: none;
    display: block;
    position: static;
}

/* Toolbar messages popup */
#popprivatemessages {
    left: -174px;
    width: 280px !important;
}
#toolbar #popprivatemessages span.popup-arrow {
    left: 168px;
}
#popprivatemessages ul {
    width: 280px;
}
#popprivatemessages ul li {
    color: #333;
    width: 253px;
    line-height: 14px;
    padding-left: 23px;
    padding-bottom: 5px;
    height: auto;
}
#popprivatemessages ul li.messages_received {
    background: url(http://estaticos.elmundo.es/social/img/icon-private-message.png) no-repeat 0 3px;
}
#popprivatemessages ul li.messages_reply_received {
    background: url(http://estaticos.elmundo.es/social/img/icon-private-message-replied.png) no-repeat 0 3px;
}
