
h2 {font-size:28px;}
h3 {font-size:20px;}


/* =TAMAÑOS DE LETRA */
.tamano14{font-size: 12px !important;}
.tamano15{font-size: 13px !important;}
.tamano16{font-size: 14px !important;}
.tamano17{font-size: 15px !important;}
.tamano18{font-size: 16px !important;}
.tamano19{font-size: 17px !important;}
.tamano20{font-size: 18px !important;}
.tamano21{font-size: 19px !important;}
.tamano22{font-size: 20px !important;}
.tamano23{font-size: 21px !important;}
.tamano24{font-size: 22px !important;}
.tamano25{font-size: 23px !important;}
.tamano26{font-size: 24px !important;}
.tamano27{font-size: 25px !important;}
.tamano28{font-size: 26px !important;}
.tamano29{font-size: 27px !important;}
.tamano30{font-size: 28px !important;}
.tamano31{font-size: 29px !important;}
.tamano32{font-size: 30px !important;}
.tamano33{font-size: 31px !important;}
.tamano34{font-size: 32px !important;}
.tamano35{font-size: 33px !important;}
.tamano36{font-size: 34px !important;}
.tamano37{font-size: 35px !important;}
.tamano38{font-size: 36px !important;}
.tamano39{font-size: 37px !important;}
.tamano40{font-size: 38px !important;}
.tamano41{font-size: 39px !important;}
.tamano42{font-size: 40px !important;}
.tamano43{font-size: 41px !important;}
.tamano44{font-size: 42px !important;}
.tamano45{font-size: 43px !important;}
.tamano46{font-size: 44px !important;}
.tamano47{font-size: 45px !important;}
.tamano48{font-size: 46px !important;}
.tamano49{font-size: 47px !important;}
.tamano50{font-size: 48px !important;}

.tamano51{font-size: 49px !important;}
.tamano52{font-size: 50px !important;}
.tamano53{font-size: 51px !important;}
.tamano54{font-size: 52px !important;}
.tamano55{font-size: 53px !important;}
.tamano56{font-size: 54px !important;}
.tamano57{font-size: 55px !important;}
.tamano58{font-size: 56px !important;}
.tamano59{font-size: 57px !important;}
.tamano60{font-size: 58px !important;}
.tamano61{font-size: 59px !important;}
.tamano62{font-size: 60px !important;}
.tamano63{font-size: 61px !important;}
.tamano64{font-size: 62px !important;}
.tamano65{font-size: 63px !important;}
.tamano66{font-size: 64px !important;}
.tamano67{font-size: 65px !important;}
.tamano68{font-size: 66px !important;}
.tamano69{font-size: 67px !important;}
.tamano70{font-size: 68px !important;}

#nav_edicion_espana {padding-bottom:0}