body {
	background: #fff;
	font: 11px Arial, Helvetica, sans-serif;
}
.bloquegruposeccion {
	padding: 4px 0;
	margin-top: 5px;
}
.bloquegruposeccion h1 {
	font-size: 16px;
	color: #db4790;
	font-weight: bold;
	padding-top: 8px;
	clear: both;
	margin: 0 0 6px;
}
.bloquegruposeccion h1 a {
	color: #db4790;
	text-decoration: none;
}
.piepagina {
	text-align: left;
	margin: 0;
	font-size: 9px;
	color: #999;
}
.bloquegruposeccion p {
	font-size: 11px;
	color: #333;
	padding: 0;
	clear: both;
	margin: 0 0 10px;
}
.bloquegruposeccion img {
	margin-bottom: 10px;
	border: 0;
}
.bloquegruposeccion p img {
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
	border: none;
}
.bloquegruposeccion p a {
	color: #933;
	font-weight: bold;
}
.bloquegruposeccion h2 {
	font-size: 14px;
	text-decoration: none;
	margin-top: 10px;
}
.bloquegruposeccion h2 a {
	font-size: 14px;
	text-decoration: none;
	color: #db4790;
}
.bloquegruposeccion h3 {
	font-size: 12px;
	color: #db4790;
	font-weight: bold;
	padding-top: 8px;
	clear: both;
	margin: 0 0 6px;
}
.bloquegruposeccion h4 {
	font-size: 11px;
	margin: 0;
	font-weight: bold;
	color: #FFF;
	padding: 2px;
	background: #db4790;
}
.bloquegruposeccion h5 {
	font-size: 10px;
	margin: 0;
	font-weight: bold;
	color: #000;
	padding: 0px 0px 5px 2px;
}
.bloquegruposeccion ul {
	margin-top: 8px;
	margin-bottom: 2px;
}
.bloquegruposeccion ul li {
	font-size: 10px;
	color: #333;
	margin: 0;
	padding: 0;
}
.bloquegruposeccion ul li a {
	color: #db4790;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.botones {
	text-align: center;
}
.firma {
	text-align: center;
}
ul li {
	padding-bottom: 10px;
}
.menu li {
	margin: 0;
	padding-bottom: 5px;
}
ol li {
	margin: 0;
	padding: 0;
}
hr {
	height: 1px;
	color: #ccc;
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0;
	background: #ccc;
}
.cabecera h1, .cabecera h2, .cabecera h3 {
	margin: 0;
}
.cabecera h1 {
	font-size: 16px;
	font-weight: bold;
}
.cabecera h2 {
	font-size: 14px;
	font-weight: bold;
}
h1, h2, h3 {
	margin-top: 0;
}
.antetitulo {
	margin: 0;
	color: #903;
	font-size: 10px;
}
.antetitulo p {
	margin: 0;
}
.noticia {
	margin-top: 10px;
}
.noticia h1 {
	color: #db4790;
}
.noticia img {
	margin-left: 0;
	margin-bottom: 10px;
}
.temperaturamax {
	font-weight: bold;
	color: #f00;
}
.temperaturamin {
	font-weight: bold;
	color: #00f;
}
.actualizado p {
	color: #903;
}
.pelicula ul li {
	padding-bottom: 5px;
}
.pelicula h1 {
	font-size: 16px;
	margin-bottom: 3px;
	margin-top: 3px;
}
.pelicula h2 {
	font-size: 14px;
	font-weight: normal;
}
.pelicula h3 {
	color: #db4790;
}
.miga {
	font-size: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	color: #666666;
	margin-bottom: 6px;
	margin-top: 0;
	display: block;
	background: #eee;
	line-height: 16px;
	overflow: visible;
}
.miga_link {
	font-size: 10px;
	text-decoration: none;
	color: #666;
}
.miga img {
	float: right;
	position:relative;
	padding:0px;
	margin:0px;
}
.miga2 {
	font-size: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	color: #666666;
	margin-bottom: 6px;
	margin-top: 0;
	display: block;
	background: #eee;
	line-height: 16px;
}
.cintillo {
	font-size: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	color: #666666;
	margin-bottom: 6px;
	margin-top: 0;
	display: block;
	background: #eee;
	height:16px;
	line-height:16px;
}
.cintillo img {
	float: right;
	position:relative;
	padding:0px;
	margin:0px;
}	
form {
	margin: 0;
	padding: 0;
}
.loterias {
	text-align: center;
}
.ultimahora h3 {
	margin-top: 6px;
	margin-bottom: 6px;
}
.cine li {
	margin: 0;
	padding: 0;
}
.imagen {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
}
#bloque_foto_link {
	margin: 0;
	padding: 0;
	display: block;
}
.foto_link, .foto_link_selected {
	font-size: 10px;
	text-decoration: none;
	margin: 0 2px 2px 0;
	text-align: center;
	width: 26px;
	display: block;
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
}
.foto_link {
	border: 1px solid #DDD;
	color: #666;
	background: #EEE;
}
.foto_link_selected {
	border: 1px solid #999;
	color: #FFF;
	background: #666;
}
.foto_link a:hover, foto_link_selected a:hover {
	border: 1px solid #69C;
	color: #db4790;
}
.sixty_seconds {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: inline;
	width: 99%;
}
.sixty_seconds p {
	padding: 2px 2px 10px 5px;
	font-size: 12px;
	color: #333;
	display: block;
	margin: 0;
}
.sixty_seconds, .ss_titulo, .ss_titulillo, .ss_seccion {
	display: block;
	text-decoration: none;
}
.sixty_seconds div {
	display: block;
	width: 95%;
}
.ss_titulo {
	font-size: 22px;
	color: #db4790;
	margin: 2px;
	padding: 10px 2px 2px;
	font-weight: bold;
}
.ss_seccion{
	margin: 0;
	padding: 10px 2px 2px 10px;
	border-bottom: 1px solid #222;
	display:block;
	width: 95%;
}
.ss_seccion a {
	font-size: 16px;
	text-transform: uppercase;
	color: #222;
	font-weight: bold;
	text-decoration:none;
}
.ss_titulillo {
	margin: 0;
	padding: 5px 5px 5px 10px;
	width:93%;
}
.ss_titulillo a {
	font-size: 14px;
	color: #db4790;
	text-decoration:none;
}
.bloque_iconos_tiempo {
	padding: 2px;
	margin: 0;
	display: block;
	width: 99%;
}
.bloque_textos_tiempo {
	width: 99%;
	padding: 4px;
	text-decoration: none;
	color: #333;
	font: 11px Arial, Helvetica, sans-serif;
}
.iconos_tiempo {
	width: 50px;
	margin: 0;
	text-decoration: none;
	color: #999;
	text-align: center;
	float: left;
	font: 10px Arial, Helvetica, sans-serif;
}
.cintillo_tiempo {
	width: 99%;
	padding: 2px;
	margin: 10px 0;
	display: block;
	float: left;
	border-bottom: 1px solid #CCC;
	text-decoration: none;
	color: #666;
	font: 12px Arial, Helvetica, sans-serif;
}
.fecha_tiempo {
	width: 99%;
	padding: 2px;
	margin: 5px 0 0;
	display: block;
	float: left;
	text-decoration: none;
	color: #db4790;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.tit_programa {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin-top: 4px;
	margin-bottom: 2px;
	width: 99%;
	display: block;
	float: left;
}
.fecha_programa {
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #666666;
	margin-top: 2px;
	margin-bottom: 4px;
	width: 99%;
	display: block;
	float: left;
}
.detalles_programa {
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #333333;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 99%;
	display: block;
	float: left;
}
.texto_programa {
	margin-top: 2px;
	margin-bottom: 8px;
	width: 99%;
	display: block;
	float: left;
}
.fecha_programa2 {
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #666666;
	margin-top: 2px;
	margin-bottom: 0px;
	width: 99%;
	display: block;
	float: left;
}
.texto_programa2 {
	margin-top: 2px;
	margin-bottom: 6px;
	width: 99%;
	display: block;
	float: left;
}
.franja_horaria {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #666666;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 99%;
	display: block;
	float: left;
	text-transform:uppercase;
}
.urgente {
	margin: 5px 0px 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CC0000;
}
.urgente h5 {
	margin: 0px;
	padding: 2px 3px;
	background-color: #CC0000;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.urgente p {
	margin: 0px;
	padding: 3px;
	background-color: #FFF;
	color: #000;
}
.clearfix {
	clear: both;
}
.envivoindice {
	margin: 5px 0px 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #418844;
}

.envivoindice h5 {
	margin: 0px;
	padding: 2px 3px;
	background-color: #418844;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
}

.envivoindice ul {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #FFF;
	color: #000;
}

.envivoindice ul li {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

input.buscador {
	font: 10px Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration: none;
	border: 1px solid #666666;
}
.boton_buscador {
	font: 10px Arial, Helvetica, sans-serif;
}
.texto_buscador {
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}
.texto_buscador a {
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}

.columna {
	width: 45%;
	float: left;
	position: relative;
}

.tabla_trafico {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font: normal 11px/normal Arial, Helvetica, sans-serif;
	color: #666666;
	text-decoration: none;
}
.tabla_trafico img {
	margin: 2px 5px;
}
.tabla_trafico td {
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration: none;
}
.cabecera_incidencias {
	font: bold normal 11px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
.publicidad {
   border-top: 1px solid #003D7A;
   padding-top: 15px;
   margin-top: 3px;
}
.destacado {
   background: #eee;
   padding: 8px;
   border: 1px solid #ccc;
}
h1.destacado a {
   color: #666;
   font-size: 12px;
}
